<ion-list [inset]="true">
  <ion-list-header>
    <ion-label>Permissions</ion-label>
  </ion-list-header>
  <ion-item>
    <ion-label>readCalendar</ion-label>
    <ion-badge
      *ngrxLet="storeService.selectReadCalendarStatus$ as readCalendarState; suspenseTpl: loading"
      [slot]="'end'"
      [color]="readCalendarState === 'granted' ? 'success' : readCalendarState === 'denied' ? 'danger' : 'warning'"
    >
      {{ readCalendarState }}
    </ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>writeCalendar</ion-label>
    <ion-badge
      *ngrxLet="storeService.selectWriteCalendarStatus$ as writeCalendarState; suspenseTpl: loading"
      [slot]="'end'"
      [color]="writeCalendarState === 'granted' ? 'success' : writeCalendarState === 'denied' ? 'danger' : 'warning'"
    >
      {{ writeCalendarState }}
    </ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>writeReminders</ion-label>
    <ion-badge
      *ngrxLet="storeService.selectWriteRemindersStatus$ as writeRemindersState; suspenseTpl: loading"
      [slot]="'end'"
      [color]="writeRemindersState === 'granted' ? 'success' : writeRemindersState === 'denied' ? 'danger' : 'warning'"
    >
      {{ writeRemindersState }}
    </ion-badge>
  </ion-item>
</ion-list>
<ng-template #loading>
  <ion-spinner [slot]="'end'"></ion-spinner>
</ng-template>
