<ion-list [inset]="true">
  <ion-list-header>
    <ion-label>Permissions</ion-label>
  </ion-list-header>
  <ion-item [button]="true" [lines]="'none'" (click)="requestPermission('readCalendar')">
    <ion-label>readCalendar</ion-label>
    <ion-badge
      *ngrxLet="storeService.selectReadCalendarStatus$ as readCalendarState; suspenseTpl: loading"
      [slot]="'end'"
      [color]="readCalendarState === 'granted' ? 'success' : readCalendarState === 'denied' ? 'danger' : 'warning'"
    >
      {{ readCalendarState }}
    </ion-badge>
  </ion-item>
  <ion-item [button]="true" [lines]="'none'" (click)="requestPermission('writeCalendar')">
    <ion-label>writeCalendar</ion-label>
    <ion-badge
      *ngrxLet="storeService.selectWriteCalendarStatus$ as writeCalendarState; suspenseTpl: loading"
      [slot]="'end'"
      [color]="writeCalendarState === 'granted' ? 'success' : writeCalendarState === 'denied' ? 'danger' : 'warning'"
    >
      {{ writeCalendarState }}
    </ion-badge>
  </ion-item>
</ion-list>
<ng-template #loading>
  <ion-spinner [slot]="'end'"></ion-spinner>
</ng-template>
