<ion-list [inset]="true">
  <ion-list-header>
    <ion-label>CapacitorCalendar</ion-label>
  </ion-list-header>
  <ion-item button id="open-check-permission-picker" [detail]="true">
    <ion-label>{{ checkPermission.name }}</ion-label>
  </ion-item>
  <ion-item button [detail]="true" (click)="checkAllPermissions()">
    <ion-label>{{ checkAllPermissions.name }}</ion-label>
  </ion-item>
  <ion-item button id="open-request-permission-picker" [detail]="true">
    <ion-label>{{ requestPermission.name }}</ion-label>
  </ion-item>
  <ion-item button [detail]="true" (click)="requestAllPermissions()">
    <ion-label>{{ requestAllPermissions.name }}</ion-label>
  </ion-item>
  <ion-item button [detail]="true" (click)="createEvent()">
    <ion-label>{{ createEvent.name }}</ion-label>
  </ion-item>
  <ion-item button [detail]="true" (click)="createEventWithPrompt()">
    <ion-label>{{ createEventWithPrompt.name }}</ion-label>
  </ion-item>
  <ion-item button [detail]="true" (click)="listEventsInRange()">
    <ion-label>{{ listEventsInRange.name }}</ion-label>
  </ion-item>
  <ion-item
    button
    [detail]="true"
    (click)="eventsListViewModalComponent.present()"
  >
    <ion-label>{{ deleteEventsById.name }}</ion-label>
  </ion-item>
  <ion-item button [detail]="true" (click)="listCalendars()">
    <ion-label>{{ listCalendars.name }}</ion-label>
  </ion-item>
  <ion-item button [detail]="true" (click)="getDefaultCalendar()">
    <ion-label>{{ getDefaultCalendar.name }}</ion-label>
  </ion-item>
  <ion-item button id="open-calendar-chooser-picker" [detail]="true">
    <ion-label>{{ selectCalendarsWithPrompt.name }}</ion-label>
  </ion-item>
  <ion-item button [detail]="true" (click)="openCalendar()">
    <ion-label>{{ openCalendar.name }}</ion-label>
  </ion-item>
  <ion-item button [detail]="true" (click)="createCalendar()">
    <ion-label>{{ createCalendar.name }}</ion-label>
  </ion-item>
  <ion-item button [detail]="true" (click)="createReminder()">
    <ion-label>{{ createReminder.name }}</ion-label>
  </ion-item>
  <ion-item button [detail]="true" (click)="getRemindersLists()">
    <ion-label>{{ getRemindersLists.name }}</ion-label>
  </ion-item>
  <ion-item button [detail]="true" (click)="getDefaultRemindersList()">
    <ion-label>{{ getDefaultRemindersList.name }}</ion-label>
  </ion-item>
  <ion-item button [detail]="true" (click)="openReminders()">
    <ion-label>{{ openReminders.name }}</ion-label>
  </ion-item>
</ion-list>

<ion-picker-legacy
  trigger="open-calendar-chooser-picker"
  [columns]="calendarChooserPickerColumns"
  [buttons]="calendarChooserPickerButtons"
></ion-picker-legacy>
<ion-picker-legacy
  trigger="open-check-permission-picker"
  [columns]="checkPermissionPickerColumns"
  [buttons]="checkPermissionPickerButtons"
></ion-picker-legacy>
<ion-picker-legacy
  trigger="open-request-permission-picker"
  [columns]="checkPermissionPickerColumns"
  [buttons]="requestPermissionPickerButtons"
></ion-picker-legacy>

<app-events-list-view-modal
  #eventsListViewModalComponent
  (deleteEvents)="deleteEventsById($event)"
></app-events-list-view-modal>
