<ion-header>
  <ion-toolbar>
    <ion-back-button
      [slot]="'start'"
      [defaultHref]="'/'"
      (click)="closeEventDetailView.emit()"
      >Back</ion-back-button
    >
    <ion-title>Edit Event</ion-title>
    <ion-buttons [slot]="'end'">
      <ion-button (click)="hiddenSubmitBtn.click()">
        <ion-icon [slot]="'icon-only'" [name]="'checkmark'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [color]="'light'">
  <ion-grid>
    <form [formGroup]="eventDetailForm" (submit)="submitChanges($event)">
      <ion-row>
        <ion-col>
          <ion-list [inset]="true">
            <ion-item>
              <ion-input
                [label]="'Title'"
                [placeholder]="'WWDC24'"
                [clearInput]="true"
                [formControlName]="'title'"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                [label]="'Location'"
                [placeholder]="'Apple Park'"
                [formControlName]="'location'"
                [clearInput]="true"
              ></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list [inset]="true">
            <ion-item>
              <ion-toggle [formControlName]="'isAllDay'">All-day</ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Starts</ion-label>
              <ion-datetime-button
                [slot]="'end'"
                datetime="startDate"
              ></ion-datetime-button>
            </ion-item>
            <ion-item>
              <ion-label>Ends</ion-label>
              <ion-datetime-button
                [slot]="'end'"
                datetime="endDate"
              ></ion-datetime-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list [inset]="true">
            <ion-item>
              <ion-input
                [label]="'Event ID'"
                [value]="selectedEvent.id"
                [disabled]="true"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                [label]="'Calendar ID'"
                [formControlName]="'calendarId'"
                [clearInput]="true"
              ></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list [inset]="true">
            <ion-item>
              <ion-input
                [label]="'URL'"
                [placeholder]="'https://capacitor-calendar.pages.dev/'"
                [formControlName]="'url'"
                [clearInput]="true"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea
                [label]="'Description'"
                [formControlName]="'description'"
              ></ion-textarea>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button #hiddenSubmitBtn [hidden]="true" type="submit"></button>
        </ion-col>
      </ion-row>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            id="startDate"
            [formControlName]="'startDate'"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            id="endDate"
            [formControlName]="'endDate'"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </form>
  </ion-grid>
</ion-content>
