<ion-modal #modal (ionModalWillDismiss)="dispose()">
  <ng-template>
    <div id="modal-content">
      @switch (currentView) {
        @case (eventView.EVENTS_LIST) {
          <app-events-list
            #eventsList
            *ngrxLet="calendarEvents$ as calendarEvents"
            [calendarEvents]="calendarEvents"
            (done)="modal.dismiss()"
            (deleteEvent)="deleteEvents.emit($event)"
            (modifyEvent)="openEventDetailView($event)"
            (timeChanged)="fetchEvents(eventsList.fromTime, eventsList.toTime)"
          ></app-events-list>
        }
        @case (eventView.EVENT_DETAIL) {
          <app-event-detail
            *ngrxLet="selectedEvent$ as selectedEvent"
            [selectedEvent]="selectedEvent"
            (closeEventDetailView)="dispose()"
            (saveChanges)="
              modifyEvent.emit({ id: selectedEvent.id, update: $event })
            "
          ></app-event-detail>
        }
      }
    </div>
  </ng-template>
</ion-modal>
