<app-header [title]="'Settings'"></app-header>
<ion-content [fullscreen]="true" [color]="'light'">
  <ion-list [inset]="true">
    <ion-item>
      <ion-icon [name]="'moon'" [slot]="'start'"></ion-icon>
      <ion-label>Dark Mode</ion-label>
      <ion-toggle
        *ngrxLet="storeService.selectIsDarkMode$ as isDarkMode"
        aria-label="Toggle app theme"
        [slot]="'end'"
        [color]="'success'"
        [checked]="isDarkMode"
        (ionChange)="storeService.updateState({ isDarkMode: !isDarkMode })"
      ></ion-toggle>
    </ion-item>
    <ion-item
      [button]="true"
      (click)="openLink('https://github.com/ebarooni/capacitor-calendar')"
    >
      <ion-icon [name]="'logo-github'" [slot]="'start'"></ion-icon>
      <ion-label>GitHub Repository</ion-label>
    </ion-item>
    <ion-item (click)="openLink('https://barooni.dev/github')" [button]="true">
      <ion-icon [name]="'globe-outline'" [slot]="'start'"></ion-icon>
      <ion-label>Developer's Website</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon
        [name]="'information-circle-outline'"
        [slot]="'start'"
      ></ion-icon>
      <ion-label>Version</ion-label>
      <ion-note
        *ngrxLet="storeService.selectAppVersion$ as appVersion"
        [slot]="'end'"
      >
        {{ appVersion }}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
