<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="api">
      <ion-icon name="code-slash-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="logs">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ng-container *ngrxLet="logsService.logsNotification$ as logsNotification">
        @if (logsNotification) {
          <ion-badge>{{ logsNotification }}</ion-badge>
        }
      </ng-container>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
