<ion-app>
  <app-header [title]="headerTitle"></app-header>
  <ion-content [fullscreen]="true" class="ion-padding" >
    <div class="ion-padding-bottom">
      <app-theme-toggle></app-theme-toggle>
    </div>
    <div class="ion-padding-top">
      <ion-list>
        <ion-list-header>
          <app-condensed-header [title]="headerTitle"></app-condensed-header>
        </ion-list-header>
        <ion-item
          button
          [lines]="'full'"
          [detail]="false"
          (click)="createEventWithPrompt()"
        >
          <ion-label>{{ createEventWithPrompt.name }}</ion-label>
          <ion-icon name="information-circle" slot="end"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-app>
