<ion-modal #modal (ionModalWillDismiss)="checkboxStates = {}">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons [slot]="'end'">
          <ion-button (click)="modal.dismiss()">Close</ion-button>
        </ion-buttons>
        @if (loading) {
          <ion-progress-bar [type]="'indeterminate'"></ion-progress-bar>
        }
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-grid *ngrxLet="events$ as calendarEvents">
        <ion-row>
          <ion-col>
            <ion-list>
              @for (event of calendarEvents; track $index) {
                <ion-item>
                  <ion-checkbox
                    [slot]="'start'"
                    (ionChange)="
                      checkboxStates[event.id] = $event.detail.checked
                    "
                  ></ion-checkbox>
                  <ion-label>
                    <h3>{{ event.title }}</h3>
                    <p>{{ event.id }}</p>
                  </ion-label>
                </ion-item>
              }
            </ion-list>
          </ion-col>
        </ion-row>
        @if (calendarEvents) {
          <ion-row>
            <ion-col>
              <ion-button
                [color]="'danger'"
                [expand]="'block'"
                (click)="dispatchEvents()"
              >
                Delete event(s)
              </ion-button>
            </ion-col>
          </ion-row>
        }
      </ion-grid>
    </ion-content>
  </ng-template>
</ion-modal>
