<ion-header>
  <ion-toolbar>
    <ion-title>Events</ion-title>
    <ion-buttons [slot]="'start'">
      <ion-back-button (click)="done.emit()" [defaultHref]="'/'">
        Back
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>From</ion-label>
            <ion-datetime-button
              [slot]="'end'"
              [datetime]="'fromDatetime'"
            ></ion-datetime-button>
          </ion-item>
          <ion-item>
            <ion-label>To</ion-label>
            <ion-datetime-button
              [slot]="'end'"
              [datetime]="'toDatetime'"
            ></ion-datetime-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          @for (event of calendarEvents; track $index) {
            <ion-item-sliding>
              <ion-item [button]="true">
                <ion-label>
                  <strong>{{ event.title }}</strong>
                  <br />
                  <ion-note [color]="'medium'" class="ion-text-wrap">
                    {{ event.id }}
                  </ion-note>
                </ion-label>
                <ion-note>{{ event.startDate | date: "dd.MM.YYYY" }}</ion-note>
              </ion-item>
              <ion-item-options slot="end">
                <ion-item-option
                  color="tertiary"
                  (click)="modifyEvent.emit(event)"
                >
                  <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-item-option>
                <ion-item-option
                  color="danger"
                  expandable="true"
                  (click)="deleteEvent.emit(event.id)"
                >
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          }
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      id="fromDatetime"
      [value]="fromTime | millisToIso"
      (ionChange)="fromTimeChanged($event)"
    ></ion-datetime>
  </ng-template>
</ion-modal>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      id="toDatetime"
      [value]="toTime | millisToIso"
      (ionChange)="toTimeChanged($event)"
    ></ion-datetime>
  </ng-template>
</ion-modal>
